spo {
    background: #242A30;
    color: transparent;
    border-radius: 0.19vh;
    box-decoration-break: clone;
 -webkit-box-decoration-break: clone;
}
spo:active {
    color: inherit;
    user-select: none;
}
spo:not(:active) {
    transition-duration: 500ms;
}
